{% extends "password_reset/password_base.html" %}


{% block title %}
New Password
{% endblock title %}

{% block content %}
<main>
    {% if validlink %}
    <div class="d-flex align-items-center px-5 ms-xl-4">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{form.as_p}}
            </div>
            <div class="button-container">
                <button class="back-home" type="button" style="display: block;"><a href="{% url "handleLogin" %}">Back</a></button>
                <button class="submit-btn" type="submit" style="display: block;">Change</button>
            </div>
        </form>
    </div>
    {% else %}
    <p>
        The Password Reset Link is Invalid, Possibly because it has been already used.
        Please request a new password reset link.
    </p>
    {% endif %}
</main>
{% endblock content %}