{% extends "password_reset/password_base.html" %}

{% block title %}
Forgot Password
{% endblock title %}

{% block content %}
<div class="d-flex align-items-center px-5 ms-xl-4">
    <form method="POST" style="width: 40rem;">
        {% csrf_token %}
        <h1>Forgot Password</h1>
        <p>You can change your password here</p>

        <div data-mdb-input-init class="form-outline mb-3">
            {{form.as_p}}
        </div>
        <div class="button-container">
            <button class="back-home" type="button" style="display: block;"><a href="{% url "handleLogin" %}">Back</a></button>
            <button class="submit-btn" type="submit" style="display: block;">Change</button>
        </div>
    </form>
</div>
{% endblock content %}